[Unit]
Description=Control Manager Main Service
After=iarmbusd.service securemount.service tr69hostif.service dsmgr.service
Requires=iarmbusd.service dsmgr.service
Wants=tr69hostif.service

[Service]
Type=notify
EnvironmentFile=/etc/device.properties
ExecStart=/usr/bin/controlMgr
RestartSec=5s
Restart=always

[Install]
WantedBy=multi-user.target
