[Unit]
Description=Power state log update service
After=pwrmgr.service pwrmgr2.service power-state-monitor.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/lib/rdk/update_syslog_config.sh'
